<footer class="krypton-footer">
    <div class="container">
        <!-- Logo -->
        <div class="footer-logo">
            <a href="#">
                <img class="rotating" src="../assets/img/logo/memomentalRound.png" alt="">
                <div class="brand-name">MEMOMENTAL</div>
                <div class="brand-subtitle">L'outil du mentaliste</div>
            </a>
        </div>
        
        <!-- Columns -->
        <div class="columns footer-columns is-vcentered">
            <div class="column is-4">
                <!-- Links group -->
                <ul class="footer-links">
                    <li>
                        <a href="#">Ressourses</a>
                    </li>

                    <li>
                        <a href="#">En savoir plus</a>
                    </li>


                </ul>
            </div>
            <!-- Newsletter -->
            <div class="column is-centered">
                <div class="subscribe-block">
                    <form>
                        <!-- Field -->
                        <div class="control column is-centered">
                            <!-- Special input -->
                            <a href="signup.html" class="button k-button k-primary raised has-gradient slanted">
                                <span class="text">S'inscrire</span>
                                <span class="front-gradient"></span>
                            </a>


                        </div>
                    </form>
                </div>
            </div>
            <!-- Links group -->
            <div class="column is-4">
                <ul class="footer-links">
                    <li>
                        <a href="#">Tutoriel</a>
                    </li>

                    <li>
                        <a href="#">contactez-nous</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Copyright -->
        <p class="k-copyright">© 2020 | Memomental. All Rights Reserved</p>
        <br>
        <!-- Made by -->
        <p class="coded-by">Designed and Coded by <a href="https://cssninja.io" target="_blank">Axel et Florine</a></p>
    </div>
    
    <!-- Absolute image -->
    <img class="solar-system" src="../assets/img/bg/solar.svg" alt="">
</footer>
