<!-- Static navbar -->
<nav class="navbar is-light">
    <div class="container">
        <!-- Brand -->
        <div class="navbar-brand">
            <a href="index.html" class="navbar-item">
                <img class="rotating" src="../assets/img/logo/memomentalRound.png" alt="">
                <span class="brand-name">MEMOMENTAL</span>
            </a>
            <!-- Responsive toggle -->
            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <!-- Menu -->
        <div id="navbarMenu" class="navbar-menu light-menu">
            <div class="navbar-end">

                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="contact.html">Contactez-nous</a>
                </div>
                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="token.html">Ressources</a>
                </div>
                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="token.html">En savoir plus</a>
                </div>


                <!-- Menu item -->
                <div class="navbar-item is-nav-link">
                    <a class="is-centered-responsive" href="tutoriel.html">
                        <img class="telegram" src="../assets/img/logo/telegram.svg" alt="">
                        Tutoriel
                    </a>
                </div>
                <!-- Sign up -->
                <div class="navbar-item">
                    <a href="signup.html" class="button k-button k-primary raised has-gradient slanted">
                        <span class="text">S'inscrire</span>
                        <span class="front-gradient"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- /Static navbar -->
